<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479457442330-t8ve5i0ha96rfvvrgudueqv820ea5gns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479457442330-t8ve5i0ha96rfvvrgudueqv820ea5gns</string>
	<key>API_KEY</key>
	<string>AIzaSyDVzSuTwxmEp8aT3BnXM9EtSW7S2Ay0oNE</string>
	<key>GCM_SENDER_ID</key>
	<string>479457442330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developerssin.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-c1a48</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-c1a48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479457442330:ios:a7c84a75d0ca3e53adafa3</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-c1a48-default-rtdb.firebaseio.com</string>
</dict>
</plist>